.Dernyoungsay {
    background-color: rgb(255, 206, 206);
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 10px 6px -6px #777;
    text-align: center;
}
.body {
    background-color: coral;
}
.ddd {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.8%;
}